[submodule "teststudio-lite-frontend"]
	path = teststudio-lite-frontend
	url = https://github.com/iqb-berlin/teststudio-lite-frontend
[submodule "teststudio-lite-backend"]
	path = teststudio-lite-backend
	url = https://github.com/iqb-berlin/teststudio-lite-backend
